body {
    background-color: #000000; /* Starcraft 2 HUD Hintergrundfarbe */
    color: #ffd700; /* Gold */
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px; /* Maximale Breite für die Hauptinhaltscontainer auf größeren Bildschirmen */
    margin: auto; /* Zentriert den Container horizontal in der Mitte der Seite */
}

.card {
    background-color: #2d2d2d; /* Hintergrundfarbe für die Karten (dunkleres Grau für Kontrast zum Haupt-Hintergrund) */
    color: #f4f4f4; /* Textfarbe innerhalb der Karten, um gut auf dem dunklen Hintergrund sichtbar zu sein */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatteneffekt, um die Karte leicht hervorzuheben */
    border-radius: 8px; /* Abgerundete Ecken für die Karten */
    transition: transform 0.3s ease; /* Übergangseffekt beim Hover: sanfte Animation */
}

.btn-primary {
    color: #0088ff;
}

.card:hover {
    transform: scale(1.02); /* Beim Hover wird die Karte um 5% größer, um Interaktivität zu simulieren */
}

#submit-btn {   /* Design des "Suchen" buttons */
    background: radial-gradient(circle, #00c8ff, #0056b3); /* Radialer (kreisförmiger) Verlauf von Hellblau zu Dunkelblau */
    color: #303030; /* Dunkelgraue Textfarbe */
    padding: 13px 570px; /* Innenabstand: oben/unten 13px, links/rechts 570px */
    border: none; /* Keine Rahmenlinie um den Button */
    border-radius: 4px; /* Abgerundete Ecken mit einem Radius von 4px */
    cursor: pointer; /* Zeigt den "Zeiger"-Cursor bei Hover an */
    font-size: 18px; /* Textgröße erhöhen, z.B. auf 18px */
}

#submit-btn:hover {
    background: radial-gradient(circle, #0056b3, #00c8ff); /* Umgekehrter radialer Verlauf bei Hover */
}

#rasse {    /* Design des Drop-Down Menüs */
    background-color: #2d2d2d;
    color: #f4f4f4;
    border: none; /* Keine Rahmenlinie um das Menü */
    border-radius: 3px; /* Abgerundete Ecken mit einem Radius von 3px */
    margin-bottom: 20px; /* Abstand unter dem Dropdown-Menü */
}
