<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCraft II Einheiten Abfrage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Inhalt begrenzen und zentrieren -->
    <div class="container">
        <h1 class="mt-5">StarCraft Einheiten Abfrage</h1>

        <!-- Benutzer kann Rasse auswählen -->
        <form action="/abfrage" method="GET" class="mb-4">
            <label for="rasse">Rasse auswählen:</label>
            <select name="rasse" id="rasse" class="form-select">
                <option value="Terraner">Terraner</option>
                <option value="Zerg">Zerg</option>
                <option value="Protoss">Protoss</option>
            </select>

            <!-- Abfrage starten Button -->
            <button id="submit-btn" type="submit" class="btn btn-primary mt-2">Abfrage starten</button>

        </form>

        <!-- gibt die Ressultate in form einer Tabelle aus -->
        <script>
            $(document).ready( function () {
                $('#result-table').DataTable();
            });
        </script>

        <!-- Ergebnisse werden nur angezeigt wen Daten vorhanden sind -->
        {% if data %}

        <table id="result-table" class="display">
            <thead>
                <tr>

                    <!-- Spaltennamen und zugehörigkeit der Spalten -->
                    <th>id</th>
                    <th>name</th>
                    <th>rasse</th>
                    <th>produktion</th>
                    <th>benoetigt</th>
                    <th>kosten_mineralien</th>
                    <th>kosten_vespingas</th>
                    <th>kosten_energie</th>
                    <th>ausbildungsdauer</th>
                    <th>versorgung</th>
                    <th>trefferpunkte</th>
                    <th>schilde</th>
                    <th>panzerung</th>
                    <th>energie_minimum</th>
                    <th>energie_maximum</th>
                    <th>is_psionisch</th>
                    <th>is_heroisch</th>
                    <th>is_ground_air</th>
                    <th>is_bio_mech</th>
                    <th>is_leicht_gepanzert_massiv</th>
                    <th>lebensdauer</th>
                    <th>sicht</th>
                    <th>tempo</th>
                    <th>attack_damage</th>
                    <th>attack_attacks</th>
                    <th>attack_target</th>
                    <th>attack_cooldown</th>
                    <th>attack_range</th>

                </tr>
            </thead>
            <tbody>

                {% for unit in data %}

                <tr class="{% if unit.Rasse == 'Terraner' %}terraner{% elif unit.Rasse == 'Zerg' %}zerg{% elif unit.Rasse == 'Protoss' %}protoss{% endif %}">

                    <!-- Spaltennamen und zugehörigkeit der Spalten -->
                    <td>{{ unit.id }}</td>
                    <td>{{ unit.name }}</td>
                    <td>{{ unit.rasse }}</td>
                    <td>{{ unit.produktion }}</td>
                    <td>{{ unit.benoetigt }}</td>
                    <td>{{ unit.kosten_mineralien }}</td>
                    <td>{{ unit.kosten_vespingas }}</td>
                    <td>{{ unit.kosten_energie }}</td>
                    <td>{{ unit.ausbildungsdauer }}</td>
                    <td>{{ unit.versorgung }}</td>
                    <td>{{ unit.trefferpunkte }}</td>
                    <td>{{ unit.schilde }}</td>
                    <td>{{ unit.panzerung }}</td>
                    <td>{{ unit.energie_minimum }}</td>
                    <td>{{ unit.energie_maximum }}</td>
                    <td>{{ unit.is_psionisch }}</td>
                    <td>{{ unit.is_heroisch }}</td>
                    <td>{{ unit.is_ground_air }}</td>
                    <td>{{ unit.is_bio_mech }}</td>
                    <td>{{ unit.is_leicht_gepanzert_massiv }}</td>
                    <td>{{ unit.lebensdauer }}</td>
                    <td>{{ unit.sicht }}</td>
                    <td>{{ unit.tempo }}</td>
                    <td>{{ unit.attack_damage }}</td>
                    <td>{{ unit.attack_attacks }}</td>
                    <td>{{ unit.attack_target }}</td>
                    <td>{{ unit.attack_cooldown }}</td>
                    <td>{{ unit.attack_range }}</td>

                </tr>

                {% endfor %}

            </tbody>
        </table>

        {% endif %}

    </div>

    <!-- Include script.js for random dots -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
